body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}

.nav-container{
  width: 100%;
  height: 50px;
  background-color: rgb(238, 15, 238);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin-right: 20px;
}

.logo-2{
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.navcon > .link{
   color: white;
   text-decoration: none;
   background-color: plum;
   padding:10px  20px;
   border-radius: 3px;
}

.navcon > .link:hover{
  background-color: white;
  color: black;
  transition: 1 ease;

}